* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
}

.row {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex-direction: column;
}
.jcc {
    justify-content: center;
}
.jcsb {
    justify-content: space-between;
}
.jcsa {
    justify-content: space-around;
}
.jcfs {
    justify-content: flex-start;
}
.jcfe {
    justify-content: flex-end;
}
.aic {
    align-items: center;
}
.aifs {
    align-items: flex-start;
}
.aife {
    align-items: flex-end;
}
.hidden {
    display: none;
}
ul, li {
  list-style-type: none;
}
a {
    text-decoration: none;
}

.word-scramble {
    height: 100vh;
    background-color: #502990;
}
.container {
    width: 600px;
    min-height: 500px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 35px 2px rgb(45, 29, 70);
    padding: 20px;
    
}


.desc {
    /* text-transform: uppercase; */
    font-size: 36px;
    margin-bottom: 50px;
}

.random-letters {
    width: 450px;
    height: 50px;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 80px;
    text-transform: uppercase;
    letter-spacing: 20px;
}


input {
    width: 450px;
    height: 50px;
    border: 2px solid #b3b3b3;
    border-radius: 5px;
    outline: none;
    margin-bottom: 40px;
    padding-left: 20px;
}

.answer {
    margin-bottom: 40px;
    font-size: 20px;
    min-height: 30px;
}

.buttons {
    
    width: 450px;
}

.btn {
    width: 200px;
    height: 50px;
    border-radius:3px;
    font-size: 16px;
    font-weight: bold;
    background-color: #000;
    border: none;
    color: #fff;
    cursor: pointer;
    user-select: none;
}
